# Enforces strict version checks for Node.js and package engines.
engine-strict=true

# Uses `hoisted` linker, similar to npm’s node_modules structure.
node-linker=isolated
link-workspace-packages=true

# Hoists all dependencies to the root node_modules, akin to npm's default behavior.
shamefully-hoist=true

# Generates a lockfile shared across the entire workspace.
shared-workspace-lockfile=true

# Sets pnpm to act as a single store per project, similar to npm.
shared-workspace-shrinkwrap=true

# Ensures that `pnpm install` installs only `dependencies` and `devDependencies`,
# ignoring `optionalDependencies`, which aligns with npm.
strict-peer-dependencies=false

# To make pnpm resolve local dependencies similarly to npm.
prefer-frozen-lockfile=false